/**
 * @name midnight
 * @description A darkened discord theme.
 * @author refact0r
 * @version 1.5.0
 * @source https://github.com/refact0r/midnight-discord
 * @authorId 508863359777505290
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* change colors and variables here */
:root {
	/* amount of spacing and padding */
	--spacing: 12px;
	/* radius of round corners */
	--roundness: 16px;

	/* color of links */
	--accent-1: hsl(328, 37%, 73%);
	/* color of unread dividers and some indicators */
	--accent-2: hsl(300, 26%, 71%);
	/* color of accented buttons */
	--accent-3: hsl(266, 33%, 74%);
	/* color of accented buttons when hovered */
	--accent-4: hsl(235, 40%, 75%);
	/* color of accented buttons when clicked */
	--accent-5: hsl(216, 50%, 72%);

	/* color of mentions and messages that mention you */
	--mention: hsla(344, 45%, 74%, 0.1);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: hsla(358, 47%, 74%, 0.05);

	/* color of bright text on colored buttons */
	--text-1: hsl(268, 54%, 93%);
	/* color of headings and important text */
	--text-2: hsl(240, 67%, 94%);
	/* color of normal text */
	--text-3: hsl(221, 78%, 93%);
	/* color of icon buttons and channels */
	--text-4: hsl(208, 77%, 91%);
	/* color of muted channels/chats and timestamps */
	--text-5: hsl(199, 73%, 90%);

	/* color of dark buttons when clicked */
	--bg-1: hsl(300, 26%, 35%);
	/* color of dark buttons */
	--bg-2: hsl(300, 26%, 44%);
	/* color of spacing around panels and secondary elements */
	--bg-3: hsl(300, 26%, 53%);
	/* main background color */
	--bg-4: hsl(300, 26%, 62%);

	/* color of channels and icon buttons when hovered */
	--hover: hsla(330, 67%, 93%, 0.1);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(304, 44%, 92%, 0.2);
	/* color of messages when hovered */
	--message-hover: hsla(268, 54%, 93%, 0.1);
}
